
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">


    <form [formGroup]="LoginForm" >

        <div class="form sign-in">
          <h2>Sign In</h2>
    
          <label>
         
            <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" >email is required</div>
            </div>
          </label>
          <label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">password is required</div>
              
            </div>
          </label>
    
          <button class="btn btn-primary" data-toggle="modal"   (click)="login()" type="button">Sign In</button>
          
      
        </div>
    
        
        </form>
